#THE CLIENT NAME MUST BE EXACTLY AS THE ORG REGISTERED ON RAZORPAY
REACT_APP_RAZORPAY_CLIENT_NAME="MY VERY FAMOUS COMPANY LLC" 

#THIS INDICATES THE 'KEY ID' IN THE API KEY DOWNLOAD FILE.
REACT_APP_RAZORPAY_PUBLIC_KEY_ID="rzp_test_qwertyuiopasdfghjkl"


#THIS IS THE BACKEND URL FROM WHERE ORDER ID MUST BE GENERATED AND FETCHED FROM; TYPICALLY A BACKEND URL; ALSO INSPECT PACKAGE.JSON TO CHANGE PROXY
REACT_APP_BASEURL_TO_FETCH_RAZORPAY_ORDER_ID_FROM=/order

REACT_APP_CURRENCY_OF_PAYMENT_ACCEPTANCE="INR"

REACT_APP_RAZORPAY_DESCRIPTION="Test Transaction"

REACT_APP_IMAGE_OF_BRAND="https://example.com/your_logo"

REACT_APP_USER_DATA_NAME="PRAHALAD BELAVADI"

REACT_APP_USER_DATA_EMAIL="TEST@TEST.COM"

REACT_APP_USER_DATA_CONTACT="32243289"

REACT_APP_USER_INFO_NOTES="{\"note\":\"this can litterally be anything; It can contain information about api version, customer information or payment order details or anythign else that might be useful later. This is akin to a custom field and can be taken in as a object\"}"

REACT_APP_BRAND_THEME_COLOR="#3399cc"
